body{
    background-color: black;
}


a  {
    font-size: 2rem;
    text-decoration: none;
    color: aqua;
}

a:visited {
    color: blue;
}

a:hover {

     text-decoration: underline;
     color: azure;
}

ul {
    font-size: 2rem;
    color: aliceblue;
    text-align: center;
    list-style-position: inside;
}

ul li:nth-child(3){
    color: blue;
}

section{
    color: antiquewhite;
    font-size: 2rem;
}

#flo1{
    float: left;
    margin-right: 20px;
}

img{
    height: 300px;
    width: 300px;
}