*{
    margin:0px;
    padding:0px;
    font-family: sans-serif;

}
body{
 background: #222;
}
.container{
    width:90%;
    max-width: 470px;
    background: linear-gradient(135deg,#00feba,#5b548a);
    color: #fff;
    margin: 60px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
input{
    width: 300px;
    height: 30px;
    font-size: 1.6rem;
    border-radius: 20px;
    padding: 8px;
}
button{
    width: 55px;
    height: 55px;
    border-radius: 50px;
}
button:hover{
    background: #9e9e9e;
    cursor: pointer;
}
#navbar{
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footerDiv{
    width:100%;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    font-size: 1.6rem;

}
.humidityDiv{
    display: flex;
    justify-content: center;
}
.windDiv{
    display: flex;
    justify-content: center;
}
main{
    font-size: 2.2rem;
}
#main-content{
    display: none;
}